In [25]:
from IPython.display import Image
from IPython.core.display import HTML 
import numpy as np

# **Introduction to Python**

# BEFORE WE BEGIN
### Please Complete This Brief Pre-Workshop Survey
https://forms.gle/if1zxUNbbjetb1kA8

# Spencer
![Spencer](images/spencer.jpg)


Quick Facts:

    🐻 Senior 
    🎒 Studying Computer Science and Data Science
    📊 Joined the Data Peer Consulting team in Summer 2020

# Mein
![Mein](images/mein.jpeg)
Quick Facts:

    🐻 Senior at Cal
    🎒 Studying Data Science
    📊 Joined the Data Peer Consulting team in Spring 2021

# Jun
![Jun](images/jun.png)


Quick Facts:

    🐻 Sophomore 
    🎒 Studying Data Science and Statistics
    📊 Joined the Data Peer Consulting team in Spring 2021

# Richa
![Richa](images/richa.jpg)


Quick Facts:

    🐻 Junior 
    🎒 Studying Computer Science and Data Science
    📊 Joined the Data Peer Consulting team in Fall 2019

# What is Python?

![Python Logo](images/python-logo.png)

From [Python's Official Site](https://www.python.org/doc/essays/blurb/):


> Python is an **interpreted**, **object-oriented**, **high-level programming language** with dynamic semantics. Its high-level built in data structures, combined with **dynamic typing** and **dynamic binding**, make it very attractive for **Rapid Application Development**, as well as for use as a **scripting** or glue language to connect existing components together. Python's simple, **easy to learn syntax** emphasizes **readability** and therefore reduces the cost of program maintenance. Python supports **modules** and **packages**, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed. 

In layman terms, Python is:
- A Programming Language
- Easy to read
- Easy to learn
- Easy to use with other pre-existing programs
- Quick to adapt to any use-cases
- Open-Source

Modules, packages, and libraries are collections of re-usable code used to improve the interoperability of code and the effiency of programmers.

Examples:
- [Pandas](https://pandas.pydata.org/) - Today's package of choice for data analysis
- [Numpy](https://numpy.org/) - Scientific Computing
- [Biopython](https://biopython.org/) - Biological Computation
- [Astropy](https://www.astropy.org/index.html) - Astronomy
- [Nilearn](http://nilearn.github.io/) - Neuroimaging
- [SageMath](https://www.sagemath.org/) - Collection of Math Packages (Elementary, Algebra, Calculus, Number Theory, etc)

### You will quickly notice there is a lot more to learn than what is covered today.
# IOKN2K
It's OK Not To Know

https://dlab.berkeley.edu/blog/what-iokn2k

# Python Fundamentals
https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html

### **Simple Calculations and Evaluating Expressions**

In [26]:
5 + 5

10

In [27]:
5 * 5 + 10

35

As we can see below, Python follows PEMDAS while evaluating expressions

In [28]:
5 * (5 + 10)

75

### **Storing values in variables**

In [29]:
workHours = 8
workDays = 5
hoursPerWeek = workHours * workDays
print("You work " + str(hoursPerWeek) + " hours per week")

You work 40 hours per week

Notice a couple of things happened here: 
*   we set names of our expressions and were able to use those names to evaluate and create other variables
*   print statement takes in a string so we needed to convert our hoursPerWeek variable which has a type int to a type string
* expression vs. statement

### **Built-in Variable Types**

![Data Types](images/data_types.png)

*https://www.w3schools.com/python/python_datatypes.asp*

In other programming languages like Java, you would need to specify what type of data your variable holds when you declare it. In Python you don't need to specify:

In [30]:
#In Java:
#   int age = 21;
#   String name = "Spencer";

#In Python:
age = 21
name = "Spencer"
print(age, name)

21 Spencer

**Note:** Assigning a value to one variable does not change values of other variables. 

For example, let's try to convert weight in kilograms to pounds:

In [31]:
weight_kgs = 100
#There are 2.2 kilograms in a pound
weight_lbs = 2.2 * weight_kgs
print(str(weight_kgs) + " kilograms in pounds is " + str(weight_lbs) + " lbs")

100 kilograms in pounds is 220.00000000000003 lbs

### **Exercise:** What data type is 2.2? 
##### *(Hint: If you're unsure, the ```type(variable)``` function may be useful)*

**ANSWER HERE**

### **Exercise:** How can we have our weight return an integer as well?

In [32]:
weight_lbs = ...
print(str(weight_lbs))

Ellipsis

### **Exercise:** After every line of this code, write down what you think each variable's value will be:

In [33]:
temp_celsius = 5
#convert to kelvin = celsius + ~273 
temp_kelvin = temp_celsius + 273
temp_celsius = temp_celsius + 10

**ANSWER HERE**

### **Exercise:**
*   **Create a variable storing the current temperature at Cal in Fahrenheit**
*   **Create a variable converting the current temp to the nearest degree Celsius**
*   **Create a variable converting the current temp to the nearest degree Kelvin**
*   **Print the following statement as shown below in ONE line of code:**

![Temps](images/temps.png)

*(Hint: How do you make a new line in a print statement?)*

*(Hint: How do you convert a float to an int?)*

*(Hint: How do you print integers?)*

In [34]:
tempf = 70
tempc = ...
tempk = ...
print(...)

Ellipsis



---

# Repeating Actions with Loops
https://swcarpentry.github.io/python-novice-inflammation/04-loop/index.html

#### **QUESTION:** How can we do the same operations on different values?

Suppose we have the word "lead" and we want to print out each individual letter per line. We could write it out manually:

In [54]:
word = "lead"
print(word[0])
print(word[1])
print(word[2])
print(word[3])

l
e
a
d

But this would be super cumbersome if we had to do this for longer words like "Pseudopseudohypoparathyroidism".

This is where loops would be useful to have:

In [35]:
word = "python"
for letter in word:
    print(letter)

p
y
t
h
o
n

In [36]:
word = "workshop"
lengthOfWord = 0;
for letter in word:
    lengthOfWord = lengthOfWord + 1
print(lengthOfWord)

8

### **Exercise:** What does this code do?

In [37]:
total = 1;
for i in range(1,6):
    total = total*i
print(total)

120

# ¡Breakout Rooms -- Q&A!

# Making Choices with Conditionals
https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html

When we start working with a lot of data, we might want to start treating different groups of data different from others. Let's see how in the next cell.

In [38]:
number = 15
if number > 0:
    print(number, "is positive!")

15 is positive!

This is helpful for positive numbers, but I also want to account for negative numbers.

In [39]:
number = -15 
if number > 0:
    print(number, "is positive!")
else:
    print(number, "is negative!")

-15 is negative!

But wait, what if I input zero, I don't think that's negative or positive.

In [40]:
number = 0
if number > 0:
    print(number, "is positive!")
elif number < 0:
    print(number, "is negative")
else:
    print(number, "is zero!")

0 is zero!

General Structure of `if statement`:  

    if Boolean Expression:
        statements
    elif Boolean Expression:
        statements
    elif ... (You can have indefinite number of elif statements
    else:
        statemetns

I've decided that I'm going to input my favorite numbers into a loop containing these conditional statements to split them up into three lists: positive, negative, and zeroes.

In [41]:
favorite_numbers = [4, 0, 8, -12, 15, 16, -1, 23, 0, 42]
favorite_positive_numbers = []
favorite_negative_numbers = []
favorite_zeroes = []

for number in favorite_numbers:
    if number > 0:
        favorite_positive_numbers.append(number)
    elif number < 0:
        favorite_negative_numbers.append(number)
    else:
        favorite_zeroes.append(number)

print("Favorite Positive Numbers:", favorite_positive_numbers, "\nFavorite Negative Numbers:", favorite_negative_numbers, "\nFavorite Zeroes:", favorite_zeroes)

Favorite Positive Numbers: [4, 8, 15, 16, 23, 42]
Favorite Negative Numbers: [-12, -1]
Favorite Zeroes: [0, 0]

In the first section, we mentioned **boolean values**.

Boolean values are **True** or **False**.

These are most often calculated using relational operators. Some examples of relational operators are:


```
# Check if two values are equal (==)
5 == 1
False

#Check if two values are NOT equal (!=)
5 != 1
True

# Greater than or equal to (>=)
5 >= 1
True

# Less than or equal to (<=)
5 <= 1
False

# Less than (<)
5 < 5
False

# Greater than (>)
5 > 1
True
```

Conditionals are **if**, **elif**, and **else** statements. If and elif statements run the code inside them only if their boolean value is True, the else statement will be used.


```
if True:
    # Run This Code
elif True:
    # Run this code
else:
    # Everything else was False, run this code.
```

**Note:** All numbers (except 0) and strings on their own are evaluted as True values.

In [42]:
if 1:
    print(True)

True

In [43]:
if 0:
    print(True)
else:
    print(False)

False

In [44]:
if "Anything":
    print(True)

True

# ¡Breakout Rooms!

### **Exercise:** 
#### Create conditional statements that will let me know if the temperature in Berkeley will be Too Hot, Too Cold, or Just Right.

**NOTE:** I consider anything below 68 to be too cold, anything above 68 too hot, and 68 to be just right.

In [45]:
todays_temperature = 68

if ...:
    print(...)
elif ...:
    print(...)
else:
    print(...)

Ellipsis

# ¡Come Back!

# Creating Functions
https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html

Looking back at converting temperatures from Fahrenheit to Celsius, what if we want to do this for every temperature we are given? This is where creating a function that can do this for us is useful:

In [46]:
def f_to_c(temp):
    return (int)((temp - 32) * (5/9))
freezing = f_to_c(32)
boiling = f_to_c(212)
print('freezing point of water:', freezing, 'C')
print('boiling point of water:', boiling, 'C')

freezing point of water: 0 C
boiling point of water: 100 C

# ¡Breakout Rooms!

#### **Exercise:** Create a function that converts Celsius to Kelvin

In [47]:
def c_to_k(temp_c):
    return ...

print('freezing point of water in Kelvin:', c_to_k(0.))

freezing point of water in Kelvin: Ellipsis

#### **Exercise:** Create a function that converts Fahrenheit to Kelvin using the functions we've created previously:

In [48]:
def fahr_to_kelvin(temp_f):
    temp_c = ...
    temp_k = ...
    return ...

print('boiling point of water in Kelvin:', fahr_to_kelvin(212.0))

boiling point of water in Kelvin: Ellipsis

# ¡Come Back!

Functions can be used to make writing code more efficient and less repetitive, but it is also used to encapsulate large chunks of code that solves a particular problem under one name. Below, we can see the function *visualize*, which takes in a filename and visualizes the data that the filename stores.

In [49]:
def visualize(filename):

    data = numpy.loadtxt(fname=filename, delimiter=',')

    fig = matplotlib.pyplot.figure(figsize=(10.0, 3.0))

    axes1 = fig.add_subplot(1, 3, 1)
    axes2 = fig.add_subplot(1, 3, 2)
    axes3 = fig.add_subplot(1, 3, 3)

    axes1.set_ylabel('average')
    axes1.plot(numpy.mean(data, axis=0))

    axes2.set_ylabel('max')
    axes2.plot(numpy.max(data, axis=0))

    axes3.set_ylabel('min')
    axes3.plot(numpy.min(data, axis=0))

    fig.tight_layout()
    matplotlib.pyplot.show()

In [50]:
def offset_mean(data, target_mean_value):
    return (data - np.mean(data)) + target_mean_value

z = np.zeros((2,2))
print(offset_mean(z, 3))

[[3. 3.]
 [3. 3.]]

### **Additional Information**: Commenting

Throughout this workshop we have seen a couple of examples of commenting within your code using the hash (#) symbol. Another convenient way of commenting your code that will be extremely useful if you are working on a group project is through docstrings

In [51]:
#This Function converts temperatures inputted in Fahrenheit to Celsius
#Parameters: temperature in Fahrenheit
#Return Type: int
def f_to_c(temp):
    return (int)((temp - 32) * (5/9))

In [52]:
def f_to_c(temp):
    """Return a new array containing the original data
       with its mean offset to match the desired value."""
    return (int) ((temp -32) * (5/9))
help(f_to_c)

Help on function f_to_c in module __main__:

f_to_c(temp)
    Return a new array containing the original data
    with its mean offset to match the desired value.

A string like this is called a docstring. We don’t need to use triple quotes when we write one, but if we do, we can break the string across multiple lines:

In [53]:
def f_to_c(temp):
    """Return a new array containing the original data
       with its mean offset to match the desired value.

    Examples
    --------
    >>> f_to_c(32)
    0
    >>> f_to_c(212)
    100
    """
    return (int) ((temp -32) * (5/9))

help(f_to_c)

Help on function f_to_c in module __main__:

f_to_c(temp)
    Return a new array containing the original data
       with its mean offset to match the desired value.

    Examples
    --------
    >>> f_to_c(32)
    0
    >>> f_to_c(212)
    100

# Thank You for Attending
## PLEASE COMPLETE THIS POST-WORKSHOP SURVEY
https://forms.gle/ikRMq8CAioB9YJGh9

Feel free to reach out to us if you have any other questions.
And register for the next workshop, 

Creating Data Visualizations with Python - https://guides.lib.berkeley.edu/data-analysis

# More Resources

Thank you so much for attending this workshop. There is always more to learn so we have listed some helpful resources below as you continue your Data Learning Journey.

1. Data Peer Consultants - We help Undergrads and Graduate students with projects, research, and more! Come to our drop-in hours. https://data.berkeley.edu/ds-peer-consulting
2. Towards Data Science - https://towardsdatascience.com/
3. Stack Overflow & Google - https://stackoverflow.com/
4. W3Schools - https://www.w3schools.com/python/
5. Software Carpentry - https://swcarpentry.github.io/python-novice-inflammation/